.caja-Madre {
    color: white;
    background-color: #1b1b1b;
    border-radius: 5px;
    width: 1000px;
    height: 760px;
    font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

}

.caja-1 {
    width: 600px;
    height: 200px;
    padding: 1px 10px 50px 15px;
}

.caja-2 {
    width: 600;
    height: 200;
    padding: 1px 10px 50px 15px;
}

#nota {
    width: 600px;
    height: 110px;
    border-radius: 5px;
    padding: 5px 10px 10px 50px ;
    color: white;
    background-color: rgba(0,133,242,.1);
    border: 1px solid gray;
    border-left: 5px solid #0085f2;
}

li {
    width: 550px;
    height: 40px;
    padding: 5px 10px 10px 1px;
}

#info-icon {
    display: block;
    font-size: 10px;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    color: white;
    text-align: center;
    background-color: rgb(94, 158, 255);
    line-height: 14px;
}